/** Profile ******************************************/
.face {
	background-size: 200px;
	min-height: 200px;
	min-width: 200px;
	margin: 65px 0px 0px 0px;
	border-radius: 100%;
}

.user_name {
	color: $accent;
	font-size : 30px;
	font-weight : bold;
}

.user_message {
	color: $foreground;
	font-size : 22px;
	font-weight : bold;
}